.slidev-slide-content {
    background: #D3CCE3 !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

.dark .slidev-slide-content {
    background: #0F2027 !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0d1a20, #013645, #0d1a20) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0d1a20, #012e3b, #0d1a20) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

